body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #ffffff;
  padding: 15px;
}
header ul {
  float: right;
  color: rgb(49, 49, 49);
}
header li {
  display: inline-block;
  padding: 0px 2px;
}
header p {
  display: inline-block;

}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

#mylogo {
  font-size: 26px;
  height:28px;
  letter-spacing: 5px;
}




/* portfolio grid start */


#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px ;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
  "muchlove education"
  "watch ebike";
}

#muchlove {
  grid-area: muchlove;
  background-image: url("../images/Muchlove.jpg");

}

#education {
  grid-area: education;
  background-image: url("../images/EDproject.jpg");

}

#watch {
  grid-area: watch;
  background-image: url("../images/F117watch.jpg");

}

#ebike {
  grid-area: ebike;
  background-image: url("../images/Ebike.jpg");

}


.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
  box-sizing: content-box;
}



/* portfolio grid end */


/* uxui skill grid start */

.uxuiskillscontainer {
  margin:20px;
  padding:10px;
 
  
}


.uxuiskills {
  width:50%;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "us us"
  "us1 us1-2"
  "us2 us2-2"    
  "us3 us3-2"
  "us4 us4-2"
  "us5 us5-2"
  "us6 us6-2"  
  "us7 us7-2"
  "us8 us8-2" ;
}

.us {
  grid-area:us;
}
.us1 {
  grid-area:us1;
}
.us2 {
  grid-area:us2;
}
.us3 {
  grid-area:us3;
}
.us4 {
  grid-area:us4;
}
.us5 {
  grid-area:us5;
}
.us6 {
  grid-area:us6;
}
.us7 {
  grid-area:us7;
}

.us1-2 {
  grid-area:us1-2;
}
.us2-2 {
  grid-area:us2-2;
}
.us3-2 {
  grid-area:us3-2;
}
.us4-2 {
  grid-area:us4-2;
}
.us5-2 {
  grid-area:us5-2;
}
.us6-2 {
  grid-area:us6-2;
}
.us7-2 {
  grid-area:us7-2;
}

/* uxui skill grid end */


/* tech skill grid start */


.technicalskillscontainer {
  margin:20px;
  padding:10px;
 
}


.technicalskills {
  width:50%;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "ts ts"
  "ts1 ts1-2"
  "ts2 ts2-2"    
  "ts3 ts3-2"
  "ts4 ts4-2"
  "ts5 ts5-2"
  "ts6 ts6-2"  
  "ts7 ts7-2" 
  ;
}

.ts {
  grid-area:ts;
}
.ts1 {
  grid-area:ts1;
}
.ts2 {
  grid-area:ts2;
}
.ts3 {
  grid-area:ts3;
}
.ts4 {
  grid-area:ts4;
}
.ts5 {
  grid-area:ts5;
}
.ts6 {
  grid-area:ts6;
}
.ts7 {
  grid-area:ts7;
}

.ts1-2 {
  grid-area:ts1-2;
}
.ts2-2 {
  grid-area:ts2-2;
}
.ts3-2 {
  grid-area:ts3-2;
}
.ts4-2 {
  grid-area:ts4-2;
}
.ts5-2 {
  grid-area:ts5-2;
}
.ts6-2 {
  grid-area:ts6-2;
}
.ts7-2 {
  grid-area:ts7-2;
}

/* skill grid end */


footer {
  background-color: #ffffff;
  padding: 20px;
  margin:10px auto;
  color: rgb(80, 80, 80);
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}



@media only screen and (max-width: 600px) {


  #portfolioGrid {
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "muchlove"
      "education"
      "watch"
      "ebike"    ;
  }
}